// @describe At Current

// @it Simple

.button
    color #000

    border-color at_current('color')

// @expects

.button{color:#000; border-color: #000}


// @it Not existent

.button
    color #000

    border-color at_current('background-color')

// @expects

.button{color:#000; border-color:;}


// @it With inheritance

.button
    color #000

    &__element
        border-radius 3px

        background-color at_current('color')

// @expects

.button{color:#000}
.button__element{border-radius:3px}