// @describe At Property

// @it Simple

.button
    padding 10px 20px

    margin-right at_property('padding')[1]

// @expects

.button{padding:10px 20px;margin-right:20px}


// @it Mixin body

mx()
    margin-right at_property('padding-left')

.button
    padding-left 10px

    mx()

// @expects

.button{padding-left:10px;margin-right:10px}
