// @describe At Partial

// @it Right padding from `padding` property)

.button
    padding 10px 20px

    margin-right at_partial('padding-right')

// @expects

.button{padding:10px 20px;margin-right:20px}


// @it Border parts

.button
    border 10px solid #000
    border-left 12px solid #eee

    margin-right at_partial('border-left-width')
    margin-bottom at_partial('border-width')
    color at_partial('border-color')
    background-color at_partial('border-left-color')

// @expects

.button{border:10px solid #000;border-left:12px solid #eee;margin-right:12px;margin-bottom:10px;color:#000;background-color:#eee}


// @it Mixin body

mx()
    margin-right at_partial('border-left-width')

.button
    border 10px solid #000

    mx()

// @expects

.button{border:10px solid #000;margin-right:10px}
