// @describe Convert

// @it to_string, to_literal
for $i in (1 '1' 1px 'string' lit to_literal)
    test
        what type($i)
        string to_string($i), type(to_string($i))
        lit to_literal($i), type(to_literal($i))

// @expects
test { what: 'unit';     string: '1', 'string';          lit: 1, 'literal';          }
test { what: 'string';   string: '1', 'string';          lit: 1, 'literal';          }
test { what: 'unit';     string: '1px', 'string';        lit: 1px, 'literal';        }
test { what: 'string';   string: 'string', 'string';     lit: string, 'literal';     }
test { what: 'ident';    string: 'lit', 'string';        lit: lit, 'literal';        }
test { what: 'function'; string: 'to_literal', 'string'; lit: to_literal, 'literal'; }


// @it to_unit
test
    for $i in (20em 20cm 20in 20pt 20px 20rem 20 20ex 20% 20ch 20mm 20pc 20vh)
        for $j in ('em' 'cm' 'in' 'pt' 'px' 'rem' 'ex' '%' 'ch' 'mm' 'pc')
            f unit($i) to $j
            c $i to $j equals to_unit($i, $j)

// @expects
test{
    f:'em' to 'em';
    c:20em to 'em' equals 20em;
    f:'em' to 'cm';
    c:20em to 'cm' equals 11.288888888888888cm;
    f:'em' to 'in';
    c:20em to 'in' equals 4.444444444444445in;
    f:'em' to 'pt';
    c:20em to 'pt' equals 240pt;
    f:'em' to 'px';
    c:20em to 'px' equals 320px;
    f:'em' to 'rem';
    c:20em to 'rem' equals 20rem;
    f:'em' to 'ex';
    c:20em to 'ex' equals 40ex;
    f:'em' to '%';
    c:20em to '%' equals 2000%;
    f:'em' to 'ch';
    c:20em to 'ch' equals 33.333333333333336ch;
    f:'em' to 'mm';
    c:20em to 'mm' equals 112.88888888888889mm;
    f:'em' to 'pc';
    c:20em to 'pc' equals 20pc;
    f:'cm' to 'em';
    c:20cm to 'em' equals 35.43307086614173em;
    f:'cm' to 'cm';
    c:20cm to 'cm' equals 20cm;
    f:'cm' to 'in';
    c:20cm to 'in' equals 7.874015748031496in;
    f:'cm' to 'pt';
    c:20cm to 'pt' equals 425.1968503937008pt;
    f:'cm' to 'px';
    c:20cm to 'px' equals 566.93px;
    f:'cm' to 'rem';
    c:20cm to 'rem' equals 35.43307086614173rem;
    f:'cm' to 'ex';
    c:20cm to 'ex' equals 70.86614173228347ex;
    f:'cm' to '%';
    c:20cm to '%' equals 3543.3070866141734%;
    f:'cm' to 'ch';
    c:20cm to 'ch' equals 59.05511811023622ch;
    f:'cm' to 'mm';
    c:20cm to 'mm' equals 200mm;
    f:'cm' to 'pc';
    c:20cm to 'pc' equals 35.43307086614173pc;
    f:'in' to 'em';
    c:20in to 'em' equals 90em;
    f:'in' to 'cm';
    c:20in to 'cm' equals 50.8cm;
    f:'in' to 'in';
    c:20in to 'in' equals 20in;
    f:'in' to 'pt';
    c:20in to 'pt' equals 1080pt;
    f:'in' to 'px';
    c:20in to 'px' equals 1440px;
    f:'in' to 'rem';
    c:20in to 'rem' equals 90rem;
    f:'in' to 'ex';
    c:20in to 'ex' equals 180ex;
    f:'in' to '%';
    c:20in to '%' equals 9000%;
    f:'in' to 'ch';
    c:20in to 'ch' equals 150ch;
    f:'in' to 'mm';
    c:20in to 'mm' equals 508mm;
    f:'in' to 'pc';
    c:20in to 'pc' equals 90pc;
    f:'pt' to 'em';
    c:20pt to 'em' equals 1.666666666666667em;
    f:'pt' to 'cm';
    c:20pt to 'cm' equals .9407407407407408cm;
    f:'pt' to 'in';
    c:20pt to 'in' equals .3703703703703704in;
    f:'pt' to 'pt';
    c:20pt to 'pt' equals 20pt;
    f:'pt' to 'px';
    c:20pt to 'px' equals 26.67px;
    f:'pt' to 'rem';
    c:20pt to 'rem' equals 1.666666666666667rem;
    f:'pt' to 'ex';
    c:20pt to 'ex' equals 3.333333333333333ex;
    f:'pt' to '%';
    c:20pt to '%' equals 166.66666666666669%;
    f:'pt' to 'ch';
    c:20pt to 'ch' equals 2.777777777777778ch;
    f:'pt' to 'mm';
    c:20pt to 'mm' equals 9.407407407407408mm;
    f:'pt' to 'pc';
    c:20pt to 'pc' equals 1.666666666666667pc;
    f:'px' to 'em';
    c:20px to 'em' equals 1.25em;
    f:'px' to 'cm';
    c:20px to 'cm' equals .7055555555555555cm;
    f:'px' to 'in';
    c:20px to 'in' equals .2777777777777778in;
    f:'px' to 'pt';
    c:20px to 'pt' equals 15pt;
    f:'px' to 'px';
    c:20px to 'px' equals 20px;
    f:'px' to 'rem';
    c:20px to 'rem' equals 1.25rem;
    f:'px' to 'ex';
    c:20px to 'ex' equals 2.5ex;
    f:'px' to '%';
    c:20px to '%' equals 125%;
    f:'px' to 'ch';
    c:20px to 'ch' equals 2.083333333333333ch;
    f:'px' to 'mm';
    c:20px to 'mm' equals 7.055555555555555mm;
    f:'px' to 'pc';
    c:20px to 'pc' equals 1.25pc;
    f:'rem' to 'em';
    c:20rem to 'em' equals 20em;
    f:'rem' to 'cm';
    c:20rem to 'cm' equals 11.288888888888888cm;
    f:'rem' to 'in';
    c:20rem to 'in' equals 4.444444444444445in;
    f:'rem' to 'pt';
    c:20rem to 'pt' equals 240pt;
    f:'rem' to 'px';
    c:20rem to 'px' equals 320px;
    f:'rem' to 'rem';
    c:20rem to 'rem' equals 20rem;
    f:'rem' to 'ex';
    c:20rem to 'ex' equals 40ex;
    f:'rem' to '%';
    c:20rem to '%' equals 2000%;
    f:'rem' to 'ch';
    c:20rem to 'ch' equals 33.333333333333336ch;
    f:'rem' to 'mm';
    c:20rem to 'mm' equals 112.88888888888889mm;
    f:'rem' to 'pc';
    c:20rem to 'pc' equals 20pc;
    f:'' to 'em';
    c:20 to 'em' equals 20em;
    f:'' to 'cm';
    c:20 to 'cm' equals 20cm;
    f:'' to 'in';
    c:20 to 'in' equals 20in;
    f:'' to 'pt';
    c:20 to 'pt' equals 20pt;
    f:'' to 'px';
    c:20 to 'px' equals 20px;
    f:'' to 'rem';
    c:20 to 'rem' equals 20rem;
    f:'' to 'ex';
    c:20 to 'ex' equals 20ex;
    f:'' to '%';
    c:20 to '%' equals 20%;
    f:'' to 'ch';
    c:20 to 'ch' equals 20ch;
    f:'' to 'mm';
    c:20 to 'mm' equals 20mm;
    f:'' to 'pc';
    c:20 to 'pc' equals 20pc;
    f:'ex' to 'em';
    c:20ex to 'em' equals 10em;
    f:'ex' to 'cm';
    c:20ex to 'cm' equals 5.644444444444444cm;
    f:'ex' to 'in';
    c:20ex to 'in' equals 2.222222222222222in;
    f:'ex' to 'pt';
    c:20ex to 'pt' equals 120pt;
    f:'ex' to 'px';
    c:20ex to 'px' equals 160px;
    f:'ex' to 'rem';
    c:20ex to 'rem' equals 10rem;
    f:'ex' to 'ex';
    c:20ex to 'ex' equals 20ex;
    f:'ex' to '%';
    c:20ex to '%' equals 1000%;
    f:'ex' to 'ch';
    c:20ex to 'ch' equals 16.666666666666668ch;
    f:'ex' to 'mm';
    c:20ex to 'mm' equals 56.44444444444444mm;
    f:'ex' to 'pc';
    c:20ex to 'pc' equals 10pc;
    f:'%' to 'em';
    c:20% to 'em' equals 20em;
    f:'%' to 'cm';
    c:20% to 'cm' equals 11.288888888888888cm;
    f:'%' to 'in';
    c:20% to 'in' equals 4.444444444444445in;
    f:'%' to 'pt';
    c:20% to 'pt' equals 240pt;
    f:'%' to 'px';
    c:20% to 'px' equals 320px;
    f:'%' to 'rem';
    c:20% to 'rem' equals 20rem;
    f:'%' to 'ex';
    c:20% to 'ex' equals 40ex;
    f:'%' to '%';
    c:20% to '%' equals 20%;
    f:'%' to 'ch';
    c:20% to 'ch' equals 33.333333333333336ch;
    f:'%' to 'mm';
    c:20% to 'mm' equals 112.88888888888889mm;
    f:'%' to 'pc';
    c:20% to 'pc' equals 20pc;
    f:'ch' to 'em';
    c:20ch to 'em' equals 12em;
    f:'ch' to 'cm';
    c:20ch to 'cm' equals 6.773333333333333cm;
    f:'ch' to 'in';
    c:20ch to 'in' equals 2.666666666666667in;
    f:'ch' to 'pt';
    c:20ch to 'pt' equals 144pt;
    f:'ch' to 'px';
    c:20ch to 'px' equals 192px;
    f:'ch' to 'rem';
    c:20ch to 'rem' equals 12rem;
    f:'ch' to 'ex';
    c:20ch to 'ex' equals 24ex;
    f:'ch' to '%';
    c:20ch to '%' equals 1200%;
    f:'ch' to 'ch';
    c:20ch to 'ch' equals 20ch;
    f:'ch' to 'mm';
    c:20ch to 'mm' equals 67.73333333333333mm;
    f:'ch' to 'pc';
    c:20ch to 'pc' equals 12pc;
    f:'mm' to 'em';
    c:20mm to 'em' equals 3.543307086614173em;
    f:'mm' to 'cm';
    c:20mm to 'cm' equals 2cm;
    f:'mm' to 'in';
    c:20mm to 'in' equals .7874015748031495in;
    f:'mm' to 'pt';
    c:20mm to 'pt' equals 42.51968503937008pt;
    f:'mm' to 'px';
    c:20mm to 'px' equals 56.69px;
    f:'mm' to 'rem';
    c:20mm to 'rem' equals 3.543307086614173rem;
    f:'mm' to 'ex';
    c:20mm to 'ex' equals 7.086614173228346ex;
    f:'mm' to '%';
    c:20mm to '%' equals 354.3307086614173%;
    f:'mm' to 'ch';
    c:20mm to 'ch' equals 5.905511811023622ch;
    f:'mm' to 'mm';
    c:20mm to 'mm' equals 20mm;
    f:'mm' to 'pc';
    c:20mm to 'pc' equals 3.543307086614173pc;
    f:'pc' to 'em';
    c:20pc to 'em' equals 20em;
    f:'pc' to 'cm';
    c:20pc to 'cm' equals 11.288888888888888cm;
    f:'pc' to 'in';
    c:20pc to 'in' equals 4.444444444444445in;
    f:'pc' to 'pt';
    c:20pc to 'pt' equals 240pt;
    f:'pc' to 'px';
    c:20pc to 'px' equals 320px;
    f:'pc' to 'rem';
    c:20pc to 'rem' equals 20rem;
    f:'pc' to 'ex';
    c:20pc to 'ex' equals 40ex;
    f:'pc' to '%';
    c:20pc to '%' equals 2000%;
    f:'pc' to 'ch';
    c:20pc to 'ch' equals 33.333333333333336ch;
    f:'pc' to 'mm';
    c:20pc to 'mm' equals 112.88888888888889mm;
    f:'pc' to 'pc';
    c:20pc to 'pc' equals 20pc;
    f:'vh' to 'em';
    c:20vh to 'em' equals 20vh;
    f:'vh' to 'cm';
    c:20vh to 'cm' equals 20vh;
    f:'vh' to 'in';
    c:20vh to 'in' equals 20vh;
    f:'vh' to 'pt';
    c:20vh to 'pt' equals 20vh;
    f:'vh' to 'px';
    c:20vh to 'px' equals 20vh;
    f:'vh' to 'rem';
    c:20vh to 'rem' equals 20vh;
    f:'vh' to 'ex';
    c:20vh to 'ex' equals 20vh;
    f:'vh' to '%';
    c:20vh to '%' equals 20vh;
    f:'vh' to 'ch';
    c:20vh to 'ch' equals 20vh;
    f:'vh' to 'mm';
    c:20vh to 'mm' equals 20vh;
    f:'vh' to 'pc';
    c:20vh to 'pc' equals 20vh
}