// @describe Storage

// @it Simple fallback
storage('data', {first: 10px}, true)

.first
    $data = storage('data')
    {$data}

storage('data', {second: 10px})

.second
    $data = storage('data')
    {$data}

storage('data', fallback:true)

.third
    $data = storage('data')
    {$data}

// @expects
.first{first:10px}
.second{first:10px;second:10px}
.third{first:10px}


// @it Stack update when adding default
storage('data', {first: 10px}, true)

storage('data', {second: 10px})

storage('data', {third: 10px}, true)

storage('data', fallback:true)

.third
    $data = storage('data')
    {$data}

// @expects
.third{first:10px;third:10px;second:10px}


// @it Fallback to default
storage('data', {first: 10px}, true)

storage('data', {second: 10px})

storage('data', {third: 10px}, true)

storage('data', fallback:-1)

.fallback
    $data = storage('data')
    {$data}

// @expects
.fallback{first:10px;third:10px}


// @it Too many fallbacks
storage('data', {first: 10px}, true)

storage('data', {second: 10px})

storage('data', {third: 10px}, true)

storage('data', fallback:true)
storage('data', fallback:true)
storage('data', fallback:true)
storage('data', fallback:true)

.fallback
    $data = storage('data')
    {$data}

// @expects
.fallback{first:10px;third:10px}


// @it Override
storage('data', {first: 10px}, true)

storage('data', {first: 20px})

.override
    $data = storage('data')
    {$data}

// @expects
.override{first:20px;}


// @it Override deep
storage('data', {first: {some:10px, tall: true}}, true)

storage('data', {first: {some:20px}})

.override
    $data = storage('data').first
    {$data}

// @expects
.override{some:20px;tall:true}