// @describe Storage

// @it Stack storage: Simple fallback
stack_storage('data', {first: 10px}, true)

.first
    $data = stack_storage('data')
    {$data}

stack_storage('data', {second: 10px})

.second
    $data = stack_storage('data')
    {$data}

stack_storage('data', fallback:true)

.third
    $data = stack_storage('data')
    {$data}

// @expects
.first{first:10px}
.second{first:10px;second:10px}
.third{first:10px}


// @it Stack storage: Stack update when adding default
stack_storage('data', {first: 10px}, true)

stack_storage('data', {second: 10px})

stack_storage('data', {third: 10px}, true)

stack_storage('data', fallback:true)

.third
    $data = stack_storage('data')
    {$data}

// @expects
.third{first:10px;third:10px;second:10px}


// @it Stack storage: Fallback to default
stack_storage('data', {first: 10px}, true)

stack_storage('data', {second: 10px})

stack_storage('data', {third: 10px}, true)

stack_storage('data', fallback:-1)

.fallback
    $data = stack_storage('data')
    {$data}

// @expects
.fallback{first:10px;third:10px}


// @it Stack storage: Too many fallbacks
stack_storage('data', {first: 10px}, true)

stack_storage('data', {second: 10px})

stack_storage('data', {third: 10px}, true)

stack_storage('data', fallback:true)
stack_storage('data', fallback:true)
stack_storage('data', fallback:true)
stack_storage('data', fallback:true)

.fallback
    $data = stack_storage('data')
    {$data}

// @expects
.fallback{first:10px;third:10px}


// @it Stack storage: Override
stack_storage('data', {first: 10px}, true)

stack_storage('data', {first: 20px})

.override
    $data = stack_storage('data')
    {$data}

// @expects
.override{first:20px;}


// @it Stack storage: Override deep
stack_storage('data', {first: {some:10px, tall: true}}, true)

stack_storage('data', {first: {some:20px}})

.override
    $data = stack_storage('data').first
    {$data}

// @expects
.override{some:20px;tall:true}


// @it Block storage: Simple override

.block
    block_storage('data', {first: {some:10px, tall: true}}, true)

    &:hover
        block_storage('data', {first: {some:20px}})

        $data = block_storage('data').first
        {$data}

    $data = block_storage('data').first
    {$data}


// @expects
.block{some:10px;tall:true}
.block:hover{some:20px;tall:true}


// @it Block storage: Using `lookup` to get data

.block
    block_storage('data', {first: {some:10px, tall: true}}, true)

    &:hover
        block_storage('data', {first: {some:20px}})

        $data = var('data').first
        {$data}

    $data = var('data').first
    {$data}


// @expects
.block{some:10px;tall:true}
.block:hover{some:20px;tall:true}
