/**
 * Variables
 * ======================================================================== */

DEBUG                     ?= false
DPI                       ?= 72
DIRECTION                 ?= ltr
PI                        ?= 3.141592653589793


$path_font                ?= '../font/'
$path_img                 ?= '../img/'


$root_font_size           ?= 16px

$base_font_size           ?= 16px
$base_line_height_ratio   ?= 1.5
$base_line_height         ?= floor($base_line_height_ratio * $base_font_size)

$base_font_families       = {
    sans: ('Helvetica Neue' 'Helvetica Arial' sans-serif)
    serif: ('Georgia' 'Times New Roman' 'Times' serif)
    mono: ('Consolas' 'Courier New' monospace)
}
