/**
 * Variables
 * ======================================================================== */

DEBUG           ?= false
DPI             ?= 72
DIRECTION       ?= ltr
PI              ?= 3.141592653589793

ie              ?= true

Path            = extend({
        font: '../font/'
        img:  '../img/'
    }, Path)

Base            = extend({
        font-size: 16px
    }, Base)
