/**
 * Mixins
 * ======================================================================== */

/**
 * Partial at(@) rule.
 *
 * Interpolates the css properties of current selector to get precified.
 * Working only with the border, padding and margin properties.
 *
 * @param {string} [$property] - Property that you need.
 * @returns {mixed} - Value of property or 0 if cant get.
 */
at_partial($property)
    $list = split($property, '-')
    $temp = 0
    $result = 0

    if $list[0] == 'border'
        $positions = {'width':0,'style':1,'color':2}

        _border_part($value, $part)
            if $value
                return $value[$positions[$part]]
            else
                return 0

        $temp = at_property($property)

        if !$temp
            if length($list) == 3
                $temp = _border_part(at_property($list[0] + '-' + $list[1]), $list[2])

                if !$temp // Searching for the border-{$property}
                    $temp = at_property($list[0] + '-' + $list[2])

                    if !$temp // Getting border $property
                        $temp = _border_part(at_property($list[0]), $list[2])

            if length($list) == 2
                if $list[1] in ('left' 'right' 'top' 'bottom')
                    $temp = at_property($list[0])
                else
                    $temp = _border_part(at_property($list[0]), $list[1])

    if $list[0] in ('margin' 'padding')
        $temp = at_property($property)

        if length($list) == 2
            $positions = {'top':(0 0),'right':(1 1),'bottom':(0 2),'left':(1 3)}
            $properties = {}

            unless $temp
                $temp = at_property($list[0])

                if $temp
                    if length($temp) > 1
                        for $prop, $pos in $positions
                            $properties[$prop] = $temp[$pos[1]] ? $temp[$pos[1]] : $temp[$pos[0]]

                        $temp = $properties[$list[1]]

    if $temp
        $result = $temp

    return $result