/**
 * Variables
 * ======================================================================== */

$path_font ?= '../font/'


/**
 * Mixins
 * ======================================================================== */

font-face($name, $path, $formats=('eot' 'svg' 'woff' 'ttf'), $type='regular')
    $source = ()
    $font_weight = 400
    $font_style = normal
    $path = $path_font + $path

    if match('italic', $type)
        $font_style = italic

    if match('bold', $type)
        $font_weight = 700

    if match('light', $type)
        $font_weight = 300

    // Gathering the src value
    if 'ttf' in $formats
        push($source, "url('" + $path +\
            "/" + $type + ".ttf') format('truetype')")

    if 'eot' in $formats
        push($source, "url('" + $path +\
            "/" + $type + ".eot?#iefix') format('embedded-opentype')")

    if 'svg' in $formats
        push($source, "url('" + $path +\
            "/" + $type + ".svg') format('svg')")

    if 'woff' in $formats
        push($source, "url('" + $path +\
            "/" + $type + ".woff') format('woff')")

    font-face-create($name, $path, $type, $font_weight, $font_style, $source)


font-face-create($name, $path, $type, $font_weight, $font_style, $source)
    @font-face
        font-family $name
        src url($path + '/' + $type + '.eot')
        src local($name), unquote(join(',', $source))
        font-weight $font_weight
        font-style $font_style