@require 'event'

/**
 * Variables
 * ======================================================================== */

$_icons = {}
$_icons_namespace = {
    list: {}
    current: ''
}



/**
 * Mixins
 * ======================================================================== */

icon-namespace-set($font_family, $name)
    $_icons_namespace['current'] = $name

    if not $_icons[$name]
        $_icons[$name] = (0)

        if block is defined
            $_icons_namespace['list'][$name] = ($font_family (block))
        else
            $_icons_namespace['list'][$name] = ($font_family (''))



icon-namespace-unset()
    $_icons_namespace['current'] = ''


icon-add($name, $character)
    push($_icons[$_icons_namespace['current']], ($name $character))


// icon-list($font_family, $name)
//     if block is defined
//         icon-namespace-set $font_family, $name

//         {block}

//         icon-namespace-unset


icon-apply()
    .icon
        for $namespace, $properties in $_icons_namespace['list']
            &-{$namespace}
                display inline

                &:before
                    @extends $icon

                    font-family $properties[0]

                    block = $properties[1]
                    {block}

                for $icon in $_icons[$namespace]
                    if $icon
                        &_{$icon[0]}:before
                            content $icon[1]


/**
 * Placeholders.
 * ======================================================================== */

$icon
    display inline-block
    height 1px
    width 1em

    font-style normal
    font-weight normal
    speak none
    line-height @height
    text-decoration inherit
    text-align center
    text-rendering optimizeLegibility
    vertical-align inherit
    vertical-align middle

    content ""
    no-select()

    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    font-smoothing antialiased
