/* ========================================================================
 * is_* mixins
 * ======================================================================== */

/**
 * Mixins
 * ======================================================================== */

is_list_typeof($type, $args)
    for $item in $args
        return false if typeof($item) != $type

    return true


is_absolute($variable)
    $unit = unit($variable)

    if $unit in ('px')
        return true
    else
        return false


is_array($variable)
    if type($variable) == 'object'
        return type(keys($variable)[0]) == 'object'
    else
        return length($variable) > 1


is_comma_list($variable)
    if list-separator($variable) == ','
        return true
    else
        return false


is_hash($variable)
    if type($variable) == 'object'
        return length(keys($variable)) > 0

    return false

    // return false unless is_array($variable)

    // for $item in $variable
    //     return true if is_array($item)

    // return false


is_singular($variable)
    return !(is_array($variable) || is_hash($variable) \
        || is_comma_list($variable))


is_unit($variable)
    return is_singular($variable) && type($variable) == 'unit'


is_string($variable)
    return is_singular($variable) && type($variable) == 'string'


is_ident($variable)
    return is_singular($variable) && type($variable) == 'ident'


is_function($variable)
    return is_singular($variable) && type($variable) == 'function'


is_boolean($variable)
    return is_singular($variable) && type($variable) == 'boolean'


is_bool($variable)
    return is_boolean($variable)


is_color($variable)
    $type = type($variable)

    return is_singular($variable) && ($type == 'rgba' || $type == 'hsla')