@require 'utility'
@require 'is'
@require 'convert'

/**
 * Variables
 * ======================================================================== */

$media_cachable  = false
$_media_cache    = {}

// Ends of the:
$media_bp        = {
    xs: 768px,
    sm: 992px,
    md: 1224px,
    lg: 1440px,
    xl: 1920px,
}

$media_templates = extend({
        'min'    : "only screen and (min-width: %s)"
        'max'    : "only screen and (max-width: %s)"
        'minMax' : "only screen and (min-width: %s) and (max-width: %s)"
    }, $media_templates)

$media_sizes = extend({
        'xsmall'     : (0                            to_em($media_bp.xs - 1, 16px))
        'small'      : (to_em($media_bp.xs, 16px)    to_em($media_bp.sm - 1, 16px))
        'medium'     : (to_em($media_bp.sm, 16px)    to_em($media_bp.md - 1, 16px))
        'large'      : (to_em($media_bp.md, 16px)    to_em($media_bp.lg - 1, 16px))
        'xlarge'     : (to_em($media_bp.lg, 16px)    to_em($media_bp.xl - 1, 16px))
        'xxlarge'    : (to_em($media_bp.xl, 16px)    0)
    }, $media_sizes)


$media_queries = extend({
        'xsmall'        : ($media_sizes.xsmall[0]    0),
        'xsmall-only'   : ($media_sizes.xsmall[0]    $media_sizes.xsmall[1]),
        'small'         : ($media_sizes.small[0]     0),
        'small-only'    : ($media_sizes.small[0]     $media_sizes.small[1]),
        'medium'        : ($media_sizes.medium[0]    0),
        'medium-only'   : ($media_sizes.medium[0]    $media_sizes.medium[1]),
        'large'         : ($media_sizes.large[0]     0),
        'large-only'    : ($media_sizes.large[0]     $media_sizes.large[1]),
        'xlarge'        : ($media_sizes.xlarge[0]    0),
        'xxlarge'       : ($media_sizes.xxlarge[0]   0)
    }, $media_queries)

// Query aliases
$media_queries = extend({
        xs        : $media_queries.xsmall,
        sm        : $media_queries.small,
        md        : $media_queries.medium,
        lg        : $media_queries.large,
        desktop   : $media_queries.medium
    }, $media_queries)



/**
 * Mixins
 * ======================================================================== */

media_query($from, $to=0)
    $query = ''
    $sizes = ($from $to)

    if is_string($from)
        if !$media_queries[$from]
            return $from

        $sizes = $media_queries[$from]

    if ($sizes[0] >= 0) && ($sizes[1] >= 0) && ($sizes[0] != $sizes[1])
        if $sizes[0] > $sizes[1]
            $query = $media_templates.min % $sizes[0]
        else if $sizes[0] == 0
            $query = $media_templates.max % $sizes[1]
        else
            $query = $media_templates.minMax % ($sizes[0] $sizes[1])

    return $query


media($from, $to=0)
    $query = media_query($from, $to)

    if !!$query
        if $media_cachable
            helper($query)
                unless $_media_cache[$query]
                    $_media_cache[$query] = ()

                push($_media_cache[$query], block)

            +helper($query)
                {selector() + ''}
                    {block}

        else
            @media $query
                {block}

    else
        {block}


media-respond($template="%s", $default=false)
    if $default
        {block}

    for $type in ('xs' 'sm' 'md' 'lg')
        &{$template % unquote($type)}
            +media($type)
                {block}


media-apply-cache()
    for $query, $blocks in $_media_cache
        @media $query
            for $block in $blocks
                {$block}

