/* ========================================================================
 * Margin and padding shortcuts
 * ======================================================================== */

/**
 * Mixins
 * ======================================================================== */

margin-x($left, $right=$left)
    margin-left $left
    margin-right $right

margin-h($left, $right=$left)
    margin-x($left, $right)


margin-y($top, $bottom=$top)
    margin-top $top
    margin-bottom $bottom

margin-v($top, $bottom=$top)
    margin-v($top, $bottom)


padding-x($left, $right=$left)
    padding-left $left
    padding-right $right

padding-h($left, $right=$left)
    padding-h($left, $right)


padding-y($top, $bottom=$top)
    padding-top $top
    padding-bottom $bottom

padding-v($top, $bottom=$top)
    padding-v($top, $bottom)