/**
 * Mixins
 * ======================================================================== */

scale_geometric-progression(base, value, rate)
    return base * (rate ** (value - 1))

scale_geometric-progression_reverse(base, value, rate, callback=null, cb=callback)
    if cb == null
        cb = round

    return cb(math(value / base, 'log') / math(rate, 'log') + 1)

scale_modular = scale_geometric-progression
scale_modular_reverse = scale_geometric-progression_reverse


scale_arithmetic-progression(base, value, d=base)
    return base + (d * (value - 1))

scale_arithmetic-progression_reverse(base, value, d=base, callback=null, cb=callback)
    if cb == null
        cb = round

    return cb((value - base) / d + 1)


scale_exponential-growth(base, value, rate)
    return base * ((rate + 1) ** value)

scale_exponential-growth_reverse(base, value, rate, callback=null, cb=callback)
    if cb == null
        cb = round

    return cb(math(value / base, 'log') / math(rate + 1, 'log'))


scale_expotential(base, value, rate)
    return base * math(rate * value, 'exp')

scale_expotential_reverse(base, value, rate)
    exp = math(1, 'exp')

    return math(value / base, 'log') / math(exp, 'log') / rate


scale_qubic(a, b, c, d, x)
    return a * (x ** 3) + b * (x ** 2) + c * x + d
