use('utility.js')

@require 'convert'
@require 'is'
@require 'bem'

/**
 * Variables
 * ======================================================================== */

$grid_selector      ?= 'gr'
$grid_column_count  ?= 12
$grid_gutter_width  ?= 20px
$grid_direction     ?= DIRECTION
$grid_responsive    ?= true
$grid_build         ?= false

/**
 * Mixins
 * ======================================================================== */

gr_direction()
    return $grid_direction == ltr ? unquote('left') : unquote('right')


gr_percentage_width($count, $gutter=0)
    $container_width = 100% - (unit($gutter) == '%' ? ($count - 1) * $gutter : 0)
    if unit($container_width % $count, '') is 0
        return ($container_width / $count)
    else
        return ($container_width / $count) - (.01 / $count)


gr_size($size, $base=$grid_column_count)
    if $size < 1
        $sf = math_simple_fraction($size)

        $size = $sf[0]
        $base = $sf[1]

    return gr_percentage_width($base) * $size


gr-block-columns($s_desktop, $s_medium=null, $s_small = 1,\
        $gutter=$grid_gutter_width, $g=$gutter, $s='-item')
    $s_medium = $s_desktop unless $s_medium
    $percentage_gutter = unit($g) == '%' ? $g : 0

    @extends $clearfix

    if unit($g) != '%' && $g > 0
        &{$bem_es}inner
            @extends $clearfix

            margin-left -0.5 * $g
            margin-right -0.5 * $g

    &{$s}
        display block
        float gr_direction()
        min-height 1px

        // without media suport
        width gr_percentage_width($s_desktop, $percentage_gutter)

        if $g > 0
            if unit($g) != '%'
                $g /= 2
                &{$bem_es}inner
                    padding-left $g
                    padding-right $g
            else
                margin-left $g

                &:first-child,
                &:nth-child({'' + $s_desktop + 'n+1'})
                    margin-left 0


gr-sidebar($s_width, $position=gr_direction(), $offset=0, $names=('sidebar' 'content'))
    if is_string($names)
        $names = ($names 'content')

    // Elements
    &{$bem_es}
        &inner,
        &{$name},
        &content
            position relative

        &inner
            @extends $clearfix

            margin-{$position} $s_width

        &{$names[0]}
            float unquote($position)
            width $s_width
            margin-{$position} -1 * $s_width

        &{$names[1]}
            display inline-block
            padding-{$position} $offset if $offset
            width 100%


gr-build($count=$grid_column_count, $gutter=$grid_gutter_width)
    $gutter /= 2
    $selector = selector('&')
    $ps = $bem_ps
    $ms = $bem_ms

    if !$selector
        $ps = '.'
        $ms = '.'

    // Modifers
    &{$ms}
        &w
            for $i in 1..$count
                &{$i}
                    width gr_size($i, $count)

        &o
            for $i in 1..$count
                &{$i}
                    margin-left gr_size($i, $count)

    // Blocks
    &{$ps}
        &row
            display block
            padding-left 0
            padding-right 0
            margin-left -1 * $gutter
            margin-right -1 * $gutter

            list-style none

        &col
            display block
            float gr_direction()
            min-height 1px

            padding-left $gutter
            padding-right $gutter


if $grid_build
    .{$grid_selector}
        gr-build()