/**
 * Variables
 * ======================================================================== */

$path_img ?= '../img/'


/**
 * Mixins
 * ======================================================================== */

img_url($path)
    return $path_img + $path


img-container($path)
    $path = img_url($path)
    $size = image-size($path)

    display inline-block
    width $size[0]
    height $size[1]

    background-image url($path)
    background-repeat no-repeat


img-sprites($path, $sprite_names, $pfixes=())
    $path = img_url($path)
    $size = image-size($path)
    $count = length($sprite_names)
    $width = $size[0] / $count

    &{$pfixes[0]}{$pfixes[1]}
        display inline-block
        width $width
        height $size[1]

        background-image url($path)
        background-repeat no-repeat
        background-position 0 0

    for $i in 0..$count
        &{$pfixes[0]}_{$sprite_names[$i]}{$pfixes[1]}
            background-position -1 * $width * $i 0


img_width($path)
    return image-size(img_url($path))[0]


img_height($path)
    return image-size(img_url($path))[1]