/* ========================================================================
 * Margin and padding shortcuts
 * ======================================================================== */

/**
 * Mixins
 * ======================================================================== */

margin-x($left, $right=$left)
    margin-left $left
    margin-right $right


margin-y($top, $bottom=$top)
    margin-top $top
    margin-bottom $bottom


padding-x($left, $right=$left)
    padding-left $left
    padding-right $right


padding-y($top, $bottom=$top)
    padding-top $top
    padding-bottom $bottom